body {
  background-color: #f9f7fe;
}

.main {
  font-family: "Jua", sans-serif;
  border: solid 2px #5fadea;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  background-color: #fcfbfa;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
.title {
  padding: 10px 0;
  font-weight: bold;
  margin: 0px;
}
.hours {
  font-weight: bold;
  color: #3f3b3b;
  font-size: 15px;
}
.low-degree {
  font-family: "Special Elite", cursive;
  font-weight: bold;
  color: #b1aeae;
  font-size: 13px;
}
.high-degree {
  font-family: "Special Elite", cursive;
  font-weight: bold;
  color: #858282;
  font-size: 15px;
}
.humidity-status {
  font-weight: inherit;
  color: #6b6868;
  font-size: 16px;
  text-transform: capitalize;
}
.day {
  font-weight: bold;
  color: #3f3b3b;
  font-size: 15px;
}
.box-weather {
  display: block;
  align-items: center;
  text-align: center;
}
.box-weather:hover {
  background-color: #e5f7e7;
}
.temperature {
  font-family: "Special Elite", cursive;
  color: #6b6868;
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}
.unit {
  position: relative;
  top: -20pxl;
}
.maincity {
  font-weight: 600;
  color: #6b6868;
}
.weathericone {
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin: 0 auto;
}
.form {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer {
  text-align: center;
  font-size: 12px;
}
a,
a:hover,
.active-temp,
.active-temp:hover {
  color: #6b6868;
  text-decoration: none;
}
a {
  cursor: default;
}
a:hover {
  cursor: pointer;
}
.active-temp,
.active-temp:hover {
  font-weight: bold;
  cursor: default;
}
